@model VuDucLapConnModel.TestResult

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Testcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Testcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormalRange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormalRange)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
